<!DOCTYPE html>
<html lang="">
<head>
<title>PRIOR KNOWLEDGE GUIDED SOURCE SELECTION</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/">Home</a></li>
      <li><a class="drop" href="#">Introduction</a>
        <ul>
          <li><a href="/dataset">DATASET</a></li>
          <li><a href="/neural_network">NEURAL NETWORK</a></li>
          <li><a href="/transfer_strategy">TRANSFER STRATEGY</a></li>
          <li><a href="/loss_function">LOSS FUNCTION</a></li>
          <li><a href="/evaluation_metric">EVALUATION METRIC</a></li>
	<li><a href="/model_framework">MODEL FRAMEWORK</a></li>
        </ul>
      </li>
      <li><a href="/demonstration">Demonstration</a></li>
      <li><a href="/upload">Upload New Data</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image:url('static/images/demo/backgrounds/1.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">PRIOR KNOWLEDGE GUIDED SOURCE SELECTION</h3>
      <p>A Transfer Learning Framework For Medical Image Segmentation</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="/demonstration"> Demonstration</a></li>
          <li><a class="btn inverse" href="/upload">Try By New Data</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Know More</h6>
    </div>
    <ul class="nospace group">
      <li class="one_third first btmspace-50">
        <article>
          <h6 class="heading font-x1"><i class="fa fa-2x fa-dashcube"></i> <a href="/dataset">DATASET</a></h6>
          <p>something about dataset [&hellip;]</p>
        </article>
      </li>
      <li class="one_third btmspace-50">
        <article>
          <h6 class="heading font-x1"><i class="fa fa-2x fa-language"></i> <a href="/neural_network">NEURAL NETWORK </a></h6>
          <p>something about neural network [&hellip;]</p>
        </article>
      </li>
      <li class="one_third btmspace-50">
        <article>
          <h6 class="heading font-x1"><i class="fa fa-2x fa-database"></i> <a href="/transfer_strategy">TRANSFER STRATEGY</a></h6>
          <p>something about transfer learning strategy [&hellip;]</p>
        </article>
      </li>
      <li class="one_third first">
        <article>
          <h6 class="heading font-x1"><i class="fa fa-2x fa-diamond"></i> <a href="/loss_function">LOSS FUNCTION</a></h6>
          <p>something about loss function [&hellip;]</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading font-x1"><i class="fa fa-2x fa-sliders"></i> <a href="/evaluation_metric">EVALUATION METRIC</a></h6>
          <p>something about evaluation and transferability metrics [&hellip;]</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading font-x1"><i class="fa fa-2x fa-slack"></i> <a href="/model_framework">MODEL FRAMEWORK</a></h6>
          <p>something about our model [&hellip;]</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>